<md-toolbar
  color="primary"
  role="header"
>
  {{title}}

  <span class="fill-remaining-space"></span>

  <span>
    <form class="">
      <i class="material-icons">search</i>
      <md-form-field>
        <input
          type="text"
          mdInput
          placeholder="Search"
          [formControl]="textFilterControl"
          [mdAutocomplete]="auto"
          (keyup.enter)="onSelect($event)"
        >
      </md-form-field>
      <md-autocomplete #auto="mdAutocomplete">
         <md-option *ngFor="let movie of filteredMovies | async" [value]="movie.title">
            {{ movie.title }}
         </md-option>
      </md-autocomplete>
    </form>
  </span>
</md-toolbar>
