md-list {
  width: 30vw;
  float: left;
  z-index: 1;
}

md-list-item {
  cursor: pointer;
}

md-list-item img {
  margin-right: 5px;
  min-width: 40px; /* Force even if image is smaller */
  width: 40px;
  height: 40px;
}

app-movie-card {
  width: 70vw;
}

.selected {
  font-weight: bold;
}
